# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\BaiduNetdiskDownload\01-MyBatis\02-第二天\代码\代码 2\day02_eesy_02mybatsiDAO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
